{% load humanize %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6>Archivos</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'padrones_app:ver-archivos-2' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body">
                <div class="form-row">
                    
                    <div class="form-group col-md-6">
                        <label><strong>RFC:</strong></label>
                        <label>{{ detail.rfc }}</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label><strong>Programa:</strong></label>
                        <label>{{ detail.programa }}</label>
                    </div>
                </div>
               
                <div class="form-group">
                    <label><strong>Nombre:</strong></label>
                    <label>{{ detail.nombre }}</label>
                </div>
                <div class="form-group">
                    <label><strong>Direccion:</strong></label>
                    <label>{{ detail.direccion }}</label>
                </div>
                <div class="form-group">
                    <label><strong>Presuntiva:</strong></label>
                    <label>${{ detail.presuntiva|floatformat:2|intcomma }}</label>
                </div>
              

                <div class="table-responsive mt-15">
                    <table class="table center-aligned-table mb-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Comentarios</th>
                                <th>Archivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for archivo in archivos %}
                            <tr>
                                <td>{{ archivo.programa_id }}</td>
                                <td>{{ archivo.fecha|date:'d/m/Y' }}</td>
                                <td>{{ archivo.tipo }}</td>
                                <td>{{ archivo.comentarios }}</td>
                                <td>
                                    <a href="{{ archivo.archivo.url }}" class="btn btn-primary btn-sm" target="_blank"><i class="ti-file"></i></a>
                                </td>
                            </tr>   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <!-- <button type="submit" class="btn btn-primary">Crear</button> -->
            </div>

        </form>
    </div>
</div>