{% extends 'base_new.html' %}

{% load static %}

{% block title %} Padron Vehicular {% endblock title %}

{% block head %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0"/>
{% endblock head %}


{% block content %}


<div class="row">
  <div class="col-12">
      <div class="page-title-box">
          <h4 class="page-title">Padron Vehicular</h4>
      </div>
  </div>
</div> 


<iframe width="100%" height="800" src="https://app.powerbi.com/reportEmbed?reportId=b2f9e799-82a0-4ea3-b6c1-f33761ebf796&autoAuth=true&ctid=628c0e77-5b55-44df-8be1-eca3b37b9cd0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>


{% endblock content %}


{% block extrajs %}

{% endblock extrajs %}