{% extends 'base_new.html' %}

{% load static %}

{% block title %} Reporte Vigilancia {% endblock title %}

{% block head %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0"/>
{% endblock head %}


{% block content %}
<div class="row">
  <div class="col-12">
      <div class="page-title-box">
          <h4 class="page-title">Reporte Vigilancia</h4>
      </div>
  </div>
</div> 

<!-- Actualización de url => 18/04/2023 -->
<!-- <iframe width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYmNhMmFlN2ItOTg1Ni00MDAxLTllOWQtMzBhNTYzZDlmYTA5IiwidCI6IjYyOGMwZTc3LTViNTUtNDRkZi04YmUxLWVjYTNiMzdiOWNkMCIsImMiOjR9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe> -->
<iframe width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiOTc4NDc3NzEtZWY2YS00MGJhLTlkNjEtYTY3ZjUwYWYxNzI3IiwidCI6IjYyOGMwZTc3LTViNTUtNDRkZi04YmUxLWVjYTNiMzdiOWNkMCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

{% endblock content %}


{% block extrajs %}

{% endblock extrajs %}