<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Agregar Archivo</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_alta_archivos" action="{% url 'transferidos_app:alta-archivos-3' programa_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label>Oficio:</label>
                            {{ form.programa_id }}
                            <input type="text" class="form-control" id="tbID2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label>Fecha:</label>
                            {{ form.fecha }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Tipo:</label>
                            {{ form.tipo }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Comentarios:</label>
                            {{ form.comentarios }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <label>Archivo:</label>
                            {{ form.archivo }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btNewFile" type="submit" class="btn btn-primary">Crear</button>
            </div>

        </form>
    </div>
</div>

<script>
    $(function () {

        $("#form_alta_archivos").submit(function (e) {

            $("#btNewFile").attr("disabled", true);

            return true;

        });

    });
</script>