{% load static %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Aceptar/Rechazar</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_opcion" action="{% url 'transferidos_app:opcion' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body p-4">
                <div class="row" id="datos_generales">                
                    <div class="col-md-6">
                        <div class="mb-2">
                            Oficio: <h4><strong id="lbOficio" class="sateg-negritas"></strong></h4>
                            {{ form.lista }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            RFC: <h4><strong id="lbRFC" class="sateg-negritas"></strong></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="etiqueta-combo"></label>
                            {{ form.opcion }}
                        </div>
                    </div>
                </div>
                <div class="row" id="dvComentarios">
                    <div class="col-md-12">
                        <div class="form-floating col mb-2">
                            {{ form.comentarios }}
                            <label>{{ form.comentarios.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="dvMetodoEnvio">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="etiqueta-combo">{{ form.metodo_envio.label }}</label>
                            {{ form.metodo_envio }}
                            <label style="display: none;" class="text-danger" id="lbMetodoEnvio">campo requerido*</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary waves-effect gris-oscuro" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" id="btnGuardar" class="btn btn-outline-secondary waves-effect gris-oscuro">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% block extrajs %}
<script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
<script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-custom.init.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#dvComentarios').hide();

        var myMetodoEnvio = $(document.getElementById('id_metodo_envio'))[0].selectize;
        myMetodoEnvio.setValue('');
            	
        $("#id_opcion").change(function() {
            if($('#id_opcion').val() === 'RECHAZAR'){
                $('#dvMetodoEnvio').hide();
                $('#dvComentarios').show();
                $('#textarea').attr('required', true);
            }else{
                $('#dvMetodoEnvio').show();
                $('#dvComentarios').hide();
                $('#textarea').attr('required', false);
            }
        });

        $("#btnGuardar").click(function () {
            var opcion = $('#id_opcion').val();
            var metodo_envio = $('#id_metodo_envio').val();

            if (opcion !== 'RECHAZAR'){
                if (metodo_envio !== '') {
                    $('#lbMetodoEnvio').hide();
                    return true;
                } else {
                    $('#lbMetodoEnvio').show();
                    $('#lbMetodoEnvio').fadeOut(3000);
                    return false;
                }
            }else{
                return true;
            }
        });

		$("#form_opcion").submit(function (e) {
            $("#btnGuardar").attr("disabled", true);
            return true;
        });

    });
</script>
{% endblock extrajs %}

