<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6>Crear Detalle</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_alta_detalle_padrones" action="{% url 'padrones_app:alta-detalle-2' programa_id %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Oficio:</label>
                        {{ form.programa_id }}
                        <input type="text" class="form-control" id="tbID1">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha:</label>
                        {{ form.fecha }}
                        <label class="text-danger" id="validar_fecha"></label>
                    </div>
                </div>
                <div class="form-row">
					<div class="form-group col-md-6">
						<label id="lbEtapa">Etapa:</label>
						<!-- {{ form.etapa }} -->
						<select name="etapa" id="id_etapa" class="form-control">
							{% for item in etapas %}
								<option value="{{ item.id }}">{{ item.comentario }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-md-6">
						
						<label id="lbEstatus">Estatus:</label>
						<!-- {{ form.estatus }} -->
						<select name="estatus" id="id_estatus" class="form-control">
							
							{% for item in estatus %}
								<option value="{{ item.id }}" data-chained="{{item.valor}}">{{ item.comentario }}</option>
							{% endfor %}    
						</select>
					
					</div>
                </div>
                
                <div class="form-group">
                    <label>Comentarios:</label>
                    {{ form.comentarios }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btAdd_Detalle" class="btn btn-primary">Crear</button>
            </div>

        </form>
    </div>
</div>
<script>
    $(function () {

        // $("#btAdd_Detalle").click(function () {

        //     var fecha_minima = new Date();
        //     fecha_minima.setDate(fecha_minima.getDate() - 8);

        //     var arregloFecha = $('#id_fecha').val().split("/");
        //     var anio = arregloFecha[2];
        //     var mes = arregloFecha[1] - 1;
        //     var dia = arregloFecha[0];
        //     var fecha_capturada = new Date(anio, mes, dia);

        //     if(fecha_capturada >= fecha_minima){
        //         $('#validar_fecha').html('');
        //         return true;

        //     }else{
        //         $('#validar_fecha').html('Maximo 7 dias atras**');
        //         return false;

        //     }

        // });

        
		$("#form_alta_detalle_padrones").submit(function (e) {

            $("#btAdd_Detalle").attr("disabled", true);

            return true;

        });

        $('#id_estatus').chained('#id_etapa');

    });
</script>