<div class="modal-dialog modal-dialog-centered" tabindex="-1" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Datos de Juicio</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_alta_demanda" action="{% url 'juridico_app:alta-demanda' %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div class="col">
                        <label>Juicio:</label>
                        {{ form.juicio }}
                    </div>

                    <div class="col">
                        <label>Subtipo:</label>
                        {{ form.subtipo }}
                    </div>                    
                </div>

                <div class="row">
                    <div class="col">
                        <label>Carpeta:</label>
                        {{ form.carpeta }}
                    </div>
                    <div class="col">
                        <label>Expediente:</label>
                        {{ form.expediente }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Tribunal:</label>
                        {{ form.tribunal }}
                    </div>                   

                    <div class="col">
                        <label>Aviso:</label>
                        {{ form.aviso }}
                    </div>
                </div>  

                <div class="row">
                    <div class="col">
                        <label>Notificacion:</label>
                        {{ form.notificacion }}
                    </div>

                    <div class="col">
                        <label>Fatal:</label>
                        {{ form.fatal }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Interno:</label>
                        {{ form.interno }}
                    </div>

                    <div class="col">
                        <label>Dicatminador:</label>
                        {{ form.dictaminador }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Estado Procesal:</label>
                        {{ form.estado_procesal }}
                    </div>
                    <div class="col">
                        <label>Autoridad:</label>
                        {{ form.autoridad }}
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAdd" type="submit" class="btn btn-primary">Crear</button>
            </div>

        </form>
    </div>
</div>
{% block extrajs %}
<script>
    $(function () {
        $("#form_alta_demanda").submit(function (e) {
            $("#btnAdd").attr("disabled", true);
            
            Add_Modal('{% url 'juridico_app:alta-demanda' %}')

            //return true;
        });
    });
    function Add_Modal(myURL) {
        $('#mdView').load(myURL, function () {

            $('.date-picker-default').datepicker({ 
                format: 'dd/mm/yyyy' 
            });
            $('.date-picker-default').css("background-color", "#f6f7f8");

            $("#id_metodo_envio option[value='209']").attr('selected','selected');

            $(this).modal('show');

        });
    }
	
	
    function View_Modal(myURL) {
        $('#mdView').load(myURL, function () {
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}