<div class="modal-dialog modal-dialog-centered" tabindex="-1" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Datos de Juicio</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_create" action="{% url 'juridico_app:alta-demanda' %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}            

                <div class="row">
                    <div class="col">
                        <label>Autoridad:</label>
                        {{ form.autoridad }}
                        {{ Demanda.autoridad }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Resolucion Impugnada:</label>
                        {{ form.resolucion_Impg }}
                    </div>
                    <div class="col">
                        <label>Cuantia:</label>
                        {{ form.cuantia }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Materia:</label>
                        {{ form.materia }}
                    </div>
                    <div class="col">
                        <label>Contribuyente:</label>
                        {{ form.contribuyente }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Abogado Promovente:</label>
                        {{ form.abogado_prom }}
                    </div>
                    <div class="col">
                        <label>Resolucion:</label>
                        {{ form.resolucion }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Resolucion Recurrida:</label>
                        {{ form.resolucion_rec }}
                    </div>
                    <div class="col">
                        <label>Autoridad Recurrida:</label>
                        {{ form.autoridad_rec }}
                    </div>
                </div>

                {% comment %} <div class="row">
                    <div class="col">
                        <label>Contestacion:</label>
                        {{ form.contestacion }}
                    </div>
                    <div class="col">
                        <label>Oficio:</label>
                        {{ form.oficio }}
                    </div>
                </div> {% endcomment %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAdd" type="submit" class="btn btn-primary">Crear</button>
            </div>

        </form>
    </div>
</div>
{% block extrajs %}
<script>
    $(function () {
        $("#form_create").submit(function (e) {

            $("#btnAdd").attr("disabled", true);
            return true;

        });
    });
</script>
{% endblock extrajs %}