{% load static %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Compartir Correspondencia</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'oficios_app:alta-compartidos' object.id  %}" method="POST">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <strong><label>Usuario:</label></strong>
                            {{ form.usuario }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                            <strong><label>Dar Acceso a mi Correspondencia:</label></strong>
                            <br>
                            <br>
                            {{ form.compartidos }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>