<div class="modal-dialog modal-dialog-centered md-detalle" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="lbTitle" class="modal-title add">Cerrar Oficio</h4>
            <button type="button" class="btn fondo-boton waves-effect gris-oscuro close" data-bs-dismiss="modal" style="font-size: 10pt;" aria-label="Close">
                <span aria-hidden="true" style="font-size: 10pt; font-weight: bold;">&times;</span> cerrar
            </button>
        </div>
        <form id="form_cerrar_oficio" action="{% url 'oficios_app:cerrar-oficio-recibido' id_oficio %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <!-- <label>Estatus:</label> -->
                            {{ form.estatus }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 form-floating">
                            {{ form.comentarios }}
                            <label for="id_comentarios">Comentarios:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <label>Oficio Respuesta:</label>
                            {{ form.pdf_respuesta }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn fondo-boton" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" id="btCerrar" class="btn fondo-boton">Guardar</button>
            </div>

        </form>
    </div>
</div>

<script>
    $(function () {

        $("#form_cerrar_oficio").submit(function (e) {

            $("#btCerrar").attr("disabled", true);
            return true;

        });
    });
</script>