<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Recibir oficio</h4>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            <button type="button" class="btn fondo-boton waves-effect gris-oscuro close" data-bs-dismiss="modal" style="font-size: 10pt;" aria-label="Close">
                <span aria-hidden="true" style="font-size: 10pt; font-weight: bold;">&times;</span> cerrar
            </button>
        </div>
        <form id="form_recibidos" action="{% url 'oficios_app:recibir-oficio' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2 form-floating">                                                  
                            {{ form.folio }}
                            <label for="id_folio">Folio:</label>                                
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2 form-floating">                           
                            {{ form.fecha }}
                            <label for="id_fecha">Fecha:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2 form-floating">
                            {{ form.remitente }}
                            <label for="id_remitente">Remitente:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2 form-floating">
                            {{ form.puesto }}
                            <label for="id_puesto">Puesto:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 form-floating">
                            {{ form.dependencia }}
                            <label for="id_dependencia">Dependencia:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 form-floating">
                            {{ form.asunto }}
                            <label for="id_asunto">Asunto:</label>
                        </div>
                    </div>
                </div>
                
                <div class="row">

                    <div class="col-md-6">
                        <div class="mb-2 form-floating">
                            
                            <select name="area" id="id_area" class="form-control input-rec">
                                {% for item in area %}
                                <option value="{{ item.id }}">{{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_area">Dirigido a:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2 form-floating">                            
                            <select name="para" id="id_para" class="form-control input-rec">
                                {% for item in para %}
                                <option value="{{ item.id }}" data-chained="{{ item.areas.id }}">{{item.nombres}}
                                    {{item.apellidos}} ({{ item.username }})</option>
                                {% endfor %}
                                <!-- {% for item in todos %}
                                <option value="{{ item.id }}" data-chained="46">
                                    {{item.nombres}} {{item.apellidos}} ({{ item.username }})</option>
                                {% endfor %} -->
                            </select>
                            <label for="id_para">Para:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label>Copiar a:</label>
                                <select id="copiar_a" class="form-control select2-multiple " data-toggle="select2"
                                    data-width="100%" multiple="multiple" data-placeholder="Copiar a">
                                    {% for row in usuarios %}
                                    <option value="{{row.id}}">{{row.get_user}}</option>
                                    {% endfor %}
                                </select>
                                <input name="copiar_a" type="hidden" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 form-floating">
                            {{ form.cc_externas }}
                            <label for="id_cc_externas">Copias Externas:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 form-floating">
                            {{ form.comentarios }}
                            <label for="id_comentarios">Comentarios:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <label>Oficio:</label>
                            {{ form.pdf }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                {{ test }}
                <button type="button" class="btn fondo-boton" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" id="btGuardar" class="btn fondo-boton">Guardar</button>
            </div>

        </form>
    </div>
</div>
<script>
    $(function () {
        $('#id_para').chained('#id_area');

        $('#form_recibidos').submit(function(e) {

            var lista_cc = $("#copiar_a").val();
            $("[name='copiar_a']").val(lista_cc.join(","));

            $("#btGuardar").attr("disabled", true);

            return true;
        });

    });
</script>