{% extends 'base_new.html' %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load l10n %}

{% block title %} Eventos {% endblock title %}

{% block head %}
<link href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <button id="btNew" onclick="Add_Modal('{% url 'promocion_app:crear-evento' %}')"
                    class="btn btn-primary rounded-pill" target="_blank">
                    <i class="fe-plus"></i> Nuevo Evento
                </button>

            </div>
            <h4 class="page-title">Eventos</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 mb-30">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable1" class="table table-sm table-striped table-bordered p-0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Programa</th>
                                <th>Descripcion</th>
                                <th>Direccion</th>
                                <th>Ciudad</th>
                                <th>Fecha Creacion</th>
                                <th>Numero Visitas</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evento in eventos %}
                            <tr>
                                <td>{{ evento.nombre|upper }}</td>
                                <td>{{ evento.id_programa.nombre }}</td>
                                <td>{{ evento.descripcion }}</td>
                                <td>{{ evento.direccion }}</td>
                                <td>{{ evento.ciudad|upper }}</td>
                                <td>
                                    <span class="sp_date">{{ evento.created|date:'Y/m/d' }}</span>{{ evento.created|date:'d/m/Y' }}
                                </td>
                                <td>
                                    <div class="text-center">
                                        {{ evento.sum_visitas }}
                                    </div>
                                </td>
                                <td>
                                    <button id="btDetail" onclick="View_Modal('{% url 'promocion_app:visitas' evento.id %}')" 
                                        title="Visitas" tabindex="0" data-plugin="tippy" data-tippy-placement="left" class="btn btn-info btn-xs" target="_blank">
                                        <i class="fas fa-eye"></i> 
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

{% endblock content %}

{% block extrajs %}
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.chained.min.js' %}"></script>
<script src="{% static 'assets/libs/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script>
    $(document).ready(function () {

		$('.sp_date').hide();
        $('.alert-success').fadeOut(6000);

		var table1 = $('#datatable1').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                paginate: {
                    previous: "<i class='mdi mdi-chevron-left'>",
                    next: "<i class='mdi mdi-chevron-right'>",
                },
            },
            order: [[ 4, 'desc' ]],
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
        });
        
    });

    function View_Modal(myURL) {
        $('#mdView').load(myURL, function () {
            $(this).modal('show');
        });
    }

    function Add_Modal(myURL) {
        $('#mdView').load(myURL, function () {

            $('.date-picker-default').datepicker({ 
                format: 'dd/mm/yyyy' 
            });
            $('.date-picker-default').css("background-color", "#f6f7f8");

            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}


