<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6>Rechazar Todos</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_rechazar_todos" action="{% url 'transferidos_app:rechazar-todos' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="form-group">
                    {{ form.folio }}
                    <div class="text-center">
                        <h5><label id="lbRechazarTodos" for="lbRechazarTodos" class="text-primary"></label></h5>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>

        </form>
    </div>
</div>


