<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6>Editar Propuesta</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'transferidos_app:editar-contribuyente-3' object.id %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <!-- <form method="GET"> -->
                    
                    <div class="form-row">
                        <!-- <div class="form-group col-md-3"> -->
                            <!-- <label>Propuesta:</label> -->
                            {{ form.folio }}
                        <!-- </div> -->

                        <div class="form-group col-md-8">
                            <label>RFC:</label>

                            {{ form.rfc }}
                            <!-- <button type="submit" class="btn btn-primary btn" target="_blank" value="Ver"> <i class="fa fa-search"></i>  Ver</button> -->
                           
                        </div>
                       
                        <div class="form-group col-md-4">
                            <label>Fecha:</label>
                            {{ form.fecha }}
                        </div>
                    </div>
                   
                <!-- </form> -->
                <div class="form-group">
                    <label>Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label>Direccion:</label>
                    {{ form.direccion }}
                </div>    
               
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Presuntiva:</label>
                        {{ form.presuntiva }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Programa:</label>
                        {{ form.programa }}
                        <input id="hfProgram" type="hidden" value="{{ selected_program }}">
                    </div>
                </div>
            
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>

        </form>
    </div>
</div>