<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Contacto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'rec_app:editar-rec' object.id programa_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body p-4">
                <div class="row">
                    <div id="dvRFC" class="col-md-6">
                        <div class="mb-2">
                            <label>RFC:</label>
                            {{ form.rfc }}
                            <input type="text" class="form-control" id="tbRFC">
                        </div>
                    </div>
                    <div id="dvFecha" class="col-md-6">
                        <div class="mb-2">
                            <label>Fecha:</label>
                            {{ form.fecha_alta }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Contacto:</label>
                            {{ form.nombre }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Puesto:</label>
                            {{ form.puesto }}
                            <input id="hfJob" type="hidden" value="{{ selected_puesto }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Direccion:</label>
                            {{ form.direccion }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label>Correo:</label>
                            {{ form.correo }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="">
                            <label>Telefono:</label>
                            {{ form.telefono }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label>Ext:</label>
                            {{ form.ext }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</div>