{% extends 'base_new.html' %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load l10n %}

{% block title %} Seguimiento Vigilancia {% endblock title %}

{% block head %}
<link href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <h4><b class="sateg-negritas">Acumulado: $ {{ acumulado|unlocalize|intcomma }}</b></h4>
            </div>
            <h4 class="page-title">Seguimiento Vigilancia</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 mb-30">
        <div class="card">
            <div class="card-body">
                
                <ul class="nav nav-tabs nav-bordered">
                    <li class="nav-item">
                        <a href="#home-20" id="home-20-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Seguimiento
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-20" id="profile-20-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            Plan de Pagos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-40" id="profile-40-tab" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            Apoyo Ejecucion
                        </a>
                    </li>
                </ul>
                <div class="tab-content p-0">
                        <div class="tab-pane fade active show" id="home-20">
                            <div class="dropdown float-end" style="top: 40px;">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{% url 'programacion_app:exportar-seguimiento' %}" target="_blank" class="dropdown-item">
                                        <i class="mdi mdi-download"></i> Descargar CSV</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-floating col-md-12">
                                    <input id="search1" type="text" class="float-label form-control input-rec" placeholder=".">
                                    <label>Buscar</label>
                                </div>
                            </div>

                            <div class="table-responsive pt-3">
                                <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="datatable1">
                                    <thead>
                                        <tr>
                                            <td class="none">orden</td>
                                            <td class="all">Oficio</td>
                                            <td class="all">RFC</td>
                                            <td class="all">Nombre</td>
                                            <td class="all">Programa</td>
                                            <td class="all">Autorizacion</td>
                                            <td class="all">Estatus</td>
                                            <td class="all hidden-sm">Acciones</td>
                                            <td class="none"></td>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in programacion %}
                                        <tr>
                                            <td class="ocultar">{{ row.dias_sin_acciones|floatformat:"0" }}</td>
                                            <td>
                                                <a href="{% url 'programacion_app:admin-programacion' row.id %}" style="color: black;" class="btn btn-link" target="_self">
                                                    {{ row.oficio|slice:"-9:" }}
                                                </a>
                                            </td>
                                            <td>{{ row.rfc }}</td>
                                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ row.nombre }}">{{ row.nombre|truncatechars:30 }}</td>
                                            <td>{{ row.programa }}</td>
                                            
                                            <td>
                                                <span class="sp_date">{{ row.autorizacion|date:'Y/m/d' }}</span> 
                                                {{ row.autorizacion|date:'d/m/Y' }}
                                            </td>
                                            <td>{{ row.estatus|truncatechars:13 }}</td>
                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm"
                                                        data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #00000000; border: 0px solid;"><i
                                                            class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a onclick="View_Modal('{% url 'programacion_app:ver-todo' row.id %}')" class="dropdown-item" href="#">
                                                            <i class="fas fa-eye me-2 text-muted font-18 vertical-middle"></i>Detalle</a>
                                                        <a href="{% url 'programacion_app:ver-reporte' row.id %}" class="dropdown-item" href="#"><i
                                                                class="ti-file me-2 text-muted font-18 vertical-middle"></i>Reporte</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table style="width:100%; table-layout: fixed;" class="table">
                                                            <div class="grid-structure m-1">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        Jefe de Cobro:
                                                                        <br>
                                                                        <b>{{ row.jefe_cobro }}</b>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        Ultimos Movimientos:
                                                                        <br>
                                                                        <b>{{ row.ultimo_movimiento|date:'d/m/Y' }}</b>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <div class="text-center">
                                                                            Dias sin Acciones:
                                                                            <br>
                                                                            <b>{{ row.dias_sin_acciones|floatformat:"0" }}</b>
                                                                        </div>
                                                                    </div>
                                    
                                                                    <div class="col-lg-2">
                                                                        Plan de Pagos:
                                                                        <br>
                                                                        {% if row.plan_pagos %}
                                                                        <b>{{ row.plan_pagos|date:'d/m/Y' }}</b>
                                                                        {% else %}
                                                                        -
                                                                        {% endif %}
                                                                    </div>
                                    
                                                                    <div class="col-lg-2">
                                                                        <div class="row">
                                                                            <div class="col-lg-5">
                                                                                <div class="float-end">
                                                                                    Presuntiva:
                                                                                    <br>
                                                                                    <br>
                                                                                    Recaudado:
                                                                                </div>
                                    
                                                                            </div>
                                                                            <div class="col-lg-5">
                                                                                <div class="float-start">
                                                                                    <b>$ {{ row.presuntiva|unlocalize|intcomma }}</b>
                                                                                    <br>
                                                                                    <br>
                                                                                    {% if row.recaudado %}
                                                                                    <b>$ {{ row.recaudado|unlocalize|intcomma }}</b>
                                                                                    {% else %}
                                                                                    -
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        Ministro:
                                                                        <br>
                                                                        <b>{{ row.ministro }}</b>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        Notificado:
                                                                        <br>
                                                                        {% if row.fecha_notificacion %}
                                                                        <b>{{ row.fecha_notificacion|date:'d/m/Y' }}</b>
                                                                        &nbsp;<span  class="badge bg-secondary noti-icon-badge">{{ row.notificado }}</span>
                                                                        {% else %}
                                                                        -
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <div class="text-center">
                                                                            Dias en Seguimiento:
                                                                            <br>
                                                                            {% if row.color %}
                                                                            <span style="background-color: {{ row.color }};" class="badge noti-icon-badge">{{ row.dias_seguimiento|floatformat:"0" }}</span>
                                                                            {% else %}
                                                                            <b>{{ row.dias_seguimiento|floatformat:"0" }}</b>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        Requerimiento:
                                                                        <br>
                                                                        <b>-</b>
                                                                    </div>
                                    
                                                                    <div class="col-lg-2">
                                    
                                                                        <div class="row">
                                                                            <div class="col-lg-5">
                                                                                <div class="float-end">
                                                                                    Avance:
                                                                                </div>
                                    
                                                                            </div>
                                                                            <div class="col-lg-5">
                                                                                <div class="float-start">
                                                                                    <b>{{ row.avance }}</b>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-20">
                            <div class="dropdown float-end" style="top: 40px;">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{% url 'programacion_app:exportar-plan-pagos' %}" target="_blank" class="dropdown-item">
                                        <i class="mdi mdi-download"></i> Descargar CSV</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-floating col-md-12">
                                    <input id="search2" type="text" class="float-label form-control input-rec" placeholder=".">
                                    <label>Buscar</label>
                                </div>
                            </div>

                            <div class="table-responsive pt-3">
                                <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="datatable2">
                                    <thead>
                                        <tr>
                                            <td class="all">Oficio</td>
                                            <td class="all">RFC</td>
                                            <td class="all">Nombre</td>
                                            <td class="all">Programa</td>
                                            <td class="all">Autorizacion</td>
                                            <td class="all">Estatus</td>
                                            <td class="all hidden-sm">Acciones</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in plan_pagos %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'programacion_app:admin-programacion' row.id %}" style="color: black;" class="btn btn-link" target="_self">
                                                    {{ row.folio|slice:"-9:" }}
                                                </a>
                                            </td>
                                            <td>{{ row.rfc }}</td>
                                            <td>{{ row.nombre|truncatechars:35 }}</td>
                                            <td>{{ row.programa }}</td>
                                            <td>
                                                <span class="sp_date">{{ row.autorizacion|date:'Y/m/d' }}</span> 
                                                {{ row.autorizacion|date:'d/m/Y' }}
                                            </td>
                                            <td>{{ row.estatus }}</td>
                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm"
                                                        data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #00000000; border: 0px solid;"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a onclick="View_Modal('{% url 'programacion_app:ver-todo' row.id %}')"
                                                            class="dropdown-item" href="#">
                                                            <i class="fas fa-eye me-2 text-muted font-18 vertical-middle"></i>Detalle</a>
                                                        <a href="{% url 'programacion_app:ver-reporte' row.id %}"
                                                            class="dropdown-item" href="#"><i
                                                                class="ti-file me-2 text-muted font-18 vertical-middle"></i>Reporte</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-40">
                            <div class="dropdown float-end" style="top: 40px;">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <i class="mdi mdi-download"></i> Descargar CSV</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-floating col-md-12">
                                    <input id="search3" type="text" class="float-label form-control input-rec" placeholder=".">
                                    <label>Buscar</label>
                                </div>
                            </div>

                            <div class="table-responsive pt-3">
                                <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" id="datatable3">
                                    <thead>
                                        <tr>
                                            <td class="all">Oficio</td>
                                            <td class="all">RFC</td>
                                            <td class="all">Nombre</td>
                                            <td class="all">Programa</td>
                                            <td class="all">Autorizacion</td>
                                            <td class="all">Estatus</td>
                                            <td class="all hidden-sm">Acciones</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in apoyo_ejecucion %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'programacion_app:admin-programacion' row.id %}" style="color: black;" class="btn btn-link" target="_self">
                                                    {{ row.folio|slice:"-9:" }}
                                                </a>
                                            </td>
                                            <td>{{ row.rfc }}</td>
                                            <td>{{ row.nombre|truncatechars:35 }}</td>
                                            <td>{{ row.programa }}</td>
                                            <td>
                                                <span class="sp_date">{{ row.autorizacion|date:'Y/m/d' }}</span> 
                                                {{ row.autorizacion|date:'d/m/Y' }}
                                            </td>
                                            <td>{{ row.estatus }}</td>
                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a onclick="View_Modal('{% url 'programacion_app:ver-todo' row.id %}')"
                                                            class="dropdown-item" href="#">
                                                            <i class="fas fa-eye me-2 text-muted font-18 vertical-middle"></i>Detalle</a>
                                                        <a href="{% url 'programacion_app:ver-reporte' row.id %}"
                                                            class="dropdown-item" href="#"><i
                                                                class="ti-file me-2 text-muted font-18 vertical-middle"></i>Reporte</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal View -->
<div class="modal fade" id="mdView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'custom/js/render-table.js' %}"></script>
<script src="{% static 'custom/js/simple-table.js' %}"></script>

<script>
    $(document).ready(function () {
        
        // if ($("td").hasClass('text-left')) $("td").removeClass('centrado');
        // else $("td").addClass('centrado');
        
		$('.sp_date').hide();

        let objSort = {
            order: [[0, "desc"]],
            columnas: [{'visible': false},null,null,null,null,null,null,null,null]
        };

        // Seguimiento Vigilancia
        //render_table('#datatable1', '#search1', []);
        simple_table('#datatable1', '#search1', [], objSort);

        // Plan de Pagos
        render_table('#datatable2', '#search2', [6]);

        // Apoyo Ejecucion
        render_table('#datatable3', '#search3', [6]);

    });

    function View_Modal(myURL) {
        $('#mdView').load(myURL, function () {
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}